<h1>My app ROR</h1>
<!--<p>Find me in app/views/my_list/index.html.erb</p>-->


<h2>
<a href="http://shotners.herokuapp.com/" target="_blank">app for create shot URL with count</a>  <br>
<a href="http://sharedoc.herokuapp.com/" target="_blank">app Share documents</a>

</h2>